<div class="container">
  <br>
  <h1 class="headerstyle">Parkify</h1>
  <h2 class="headerstyle">Georgia State Parks Review Hub</h2>
 <br>
 <br>
 

  {{!-- <div class="image-container">
    <img src="https://gastateparks.org/sites/default/files/parks/images/webmaps/webmap-2023-02.png" alt="Map of Georgia state parks" class="img-fluid">
  </div> --}}
</div>

    <div>
      {{#each parks as | park|  }}
      <div class="container">
        <a href="/park/{{park.id}}">
        <h2 class="text-center">{{park.name}} </h2> 
        </a>
        <div class="text-center font-weight-bold">County: {{park.county}} </div>
        <img class="parksimg" src="{{park.image}}">
        <br>
        <p class="col-md-6" >{{park.content}} </p>
          </div>
      </div>
      <br>
      <br>  
    {{/each}}
    </div>

