<div>
    <h2>{{name}} </h2>
    <div>{{county}} </div>
    <img src="{{image}}">
    <p> {{content}} </p>

  {{#each comments}}
    <div>
      <h3>{{this.title}}</h3>
      <p>{{this.content}}</p>
    </div>
  {{/each}}

</div>

 <script src="../js/review.js"></script>